* {
    box-sizing: border-box;
        }
.a {
    font: 22px "楷体";
}
.aa {
    font: 22px "楷体";
    text-align: center;
}
.aba {
    font: 22px "楷体";
    text-align: center;
    color: red;
}
.abb {
    font: 22px "楷体";
    text-align: center;
    color: skyblue;
}
.ba {
    font: 64px "楷体";
    text-align: center;
    color: green;
}
.bb {
    font: 64px "楷体";
    color: skyblue;
    text-align: center;
    font-weight: bolder;
}
body {
    margin: 0;
    background-color: #000000;
}
.ha {
    font: 64px "楷体";
    margin: 50px auto;
    font-weight: 500;
    -webkit-animation: swing 2s infinite;
    background: -webkit-linear-gradient(left, #0f0, #00f) 0 0 no-repeat;
    -webkit-background-size: 160px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.3);
}
.hb{
    margin-top: 30px;
    font: 64px "楷体";
    text-align: center;
    background: -webkit-linear-gradient(top, #FF0000, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hc {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #FF0000;
}
.c{
    text-align: center;
    color: red;
    font-weight: bold;
}
.ca{
    float: left;
    width: 100%;
    padding: 15px;
    background-color: #55FFFF;
    color: #FF5555;
}
.cb{
    float: left;
    width: 50%;
    padding: 15px;
    background-color: #FFFF00;
    color: #FF5555;
}
.cc {
    text-align: center;
}
.cd {
    float: left;
    width: 50%;
    padding: 15px;
    background-color: chartreuse;
    color: #FF5555;
}
.r:after {
    content: "";
    display: table;
    clear: both;
}
.t {
    overflow: hidden;
    background-color: #333;
}
.t a {
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.t a:hover {
    background-color: #DDD;
    color: black;
}
@media screen and (max-width:600px) {
    .column{
        width: 100%;
    }
}
@-webkit-keyframes swing{
    0%{

            background-position: 0 0;
        }20%,60%{
            -webkit-transform:rotate(5deg);
        }40%,80%{
            -webkit-transform:rotate(-5deg);
        }100%{
            -webkit-transform:rotate(0deg);
            background-position: 100% 100%;
        }
}
